# For create_k8s_docker_secret_seal.sh:
DOCKER_USERNAME=
DOCKER_PASSWORD=
DOCKER_EMAIL=
# For publish_helm_common.sh:
# HELM_CHART_PATH=/path/to/helm-common
# GITLAB_PROJECT_URL=https://git.example.com/api/v4/projects/1
# GITLAB_PAT=
# GITLAB_USERNAME=git
# CHART_REPO_NAME=helm-common
# For argocd_prerequisite.sh:
# ARGO_URL=argocd.example.com
# ARGO_USER=admin
# ARGO_PASS=
# KUBECONFIG=/path/to/kubeconfig
# ARGOCD_GIT_REPO=git@github.com:YOUR_ORG/your-repo.git
# ARGOCD_SSH_KEY_PATH=~/.ssh/id_rsa
# Optional for docker secret script:
# NAMESPACE=prod
# SECRET_NAME=dockerhub-secret
# DOCKER_SERVER=https://index.docker.io/v1/
